@use "@shared/config/variables.scss" as *;

.row {
  display: flex;
  align-items: center;
  transform: translateX(39px);
  @media (max-width: $media-laptop) {
    transform: none;
    flex-direction: column;
    align-items: flex-start;
  }
}
.item {
  &:first-child {
    margin-right: 51px;
    @media (max-width: $media-laptop) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}
.line {
  display: flex;
  align-items: center;
}
.icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.text {
  color: #555;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;
  @media (max-width: $media-laptop) {
    white-space: normal;
  }
}