@use "@shared/config/variables.scss" as *;

.footer {
  padding: 37px 0;
  overflow: hidden;
  background-color: #eceaea;
}
.row {
  display: flex;
  align-items: center;
  margin: 0 -16px;
}
.menu {
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: $media-laptop) {
    margin: 0;
  }
}
.contacts {
  width: calc(100% * 5 / 12);
  padding: 0 16px;
  margin-left: auto;
}
.designFix {
  flex-shrink: 0;
  width: 67px;
  @media (max-width: $media-laptop) {
    display: none;
  }
}