@use "@shared/config/variables.scss" as *;

.header {
  padding: 25px 0 23px;
  background-color: #f6f3f3;
  border-bottom: 1px solid #e1e1e1;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -16px;
}
.designFix {
  flex-shrink: 0;
  width: 67px;
  @media (max-width: $media-laptop) {
    display: none;
  }
}
.menu {
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: $media-laptop) {
    margin: 0;
  }
}
.search {
  width: calc(100% * 5 / 12);
  padding: 0 16px;
  margin-left: auto;
  @media (max-width: $media-tablet-sm) {
    margin-top: 10px;
    width: 100%;
  }
}
.filed {
  width: 416px;
  max-width: 100%;
  margin-left: auto;
  @media (max-width: $media-tablet-sm) {
    margin-left: 0;
  }
}